<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  Home Page for PiTracker
  <table>
    <tr>
      <th>Name</th>
      <th>IP</th>
      <th>Port</th>
      <th>Status</th>
    </tr>
    <tr>
        <% results.forEach(function(result){ %>
          <tr>
            <%= result.name %>
          </tr>
          <tr>
            <%= result.ip %>
          </tr>
          <tr>
            <%= result.port %>
          </tr>
          <tr>
            <%= result.status %>
          </tr>
        <% }) %>
    </tr>
    
  </table>

  <%= results %>
</body>
</html>